<div class="events">
  {% if post.title == 'Home' %}
    <header>
      <h3 id="sidebar-title">Upcoming Events</h3>
    </header>
  {% endif %}

  <ul>
    {% for event in events %}
      <li class="event" id="{{ function('sanitize_title', event.name) }}">
        <a href="{{ event.link }}">
          {% if post.title == 'Home' %}
            <h4 class="sans-serif">{{ event.name }}</h4>
          {% else %}
            <h3 class="sans-serif">{{ event.name }}</h3>
          {% endif %}
        </a>
        <time datetime="{{ event.datetime }}">
          {{ event.date }} at {{ event.time }}
        </time>

        {% if post.title != 'Home' %}
          {{ event.excerpt }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
</div>
