<!doctype html>
<!--suppress HtmlRequiredLangAttribute -->
<html class="no-js" {{ function('language_attributes') }}>
<head>
  <title>{{ post.title ? post.title ~ " | " : "" }} {{ site.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{ function('wp_head') }}
</head>
<body {{ function('body_class', twig) }}>
<div class="container">
  <a href="#content" class="screen-reader-text">Skip to the Content</a>
  <a href="/" class="no-js-menu-link screen-reader-text">Go to the Main Menu</a>
  <header id="banner" class="banner" aria-labelledby="page-title">
    <a href="{{ site.url }}">
      <img src="{{ site.images ~ site.logo.src }}" alt="{{ site.logo.alt }}" class="logo">
      {% if post.title == 'Home' %}
        <h1 id="page-title" class="h1">The Firefly House</h1>
      {% else %}
        <p id="page-title" class="h1">The Firefly House</p>
      {% endif %}
    </a>

    <menu-toggle></menu-toggle>
    {% include '@partials/menu.twig' with {
      'id': 'main-menu',
      'label': 'main menu',
      'items': site.menus.main
    } only %}

    <figure class="banner-graphic" role="presentation">
      <!--suppress HtmlUnknownTarget -->
      <img src="{{ site.images ~ site.banner.src }}" alt="{{ site.banner.alt }}">
    </figure>
  </header>

  <div id="body">
    <main id="content" class="main" aria-labelledby="main-title">
      <header>
        {% if post.title == 'Home' %}
          <h2 id="main-title" class="screen-reader-text">Welcome to the Firefly House</h2>
        {% else %}
          <h1 id="main-title">{{ post.title }}</h1>
        {% endif %}
      </header>

